@import './modules/variable';
@import './modules/mixins';
@import './modules/functions';

.box{
    background: $color03;
    @include display(flex);
    @include flex(space-between,flex-start);
    @include border (10px, solid, red);
    padding: fn(100px,20px);
    width: fn(200px,50px);
    .wrapper {
        width: $size02;
        background: $color03;
        height:$size02;
        @include box1 (700px);
    }

}
.navbar-brand {
    img {
        width: $size01;
    }
}
.carousel-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}